.sidebar {

  background-color: #d8e0e2;
  width: 236px;
  min-height: 100%;

  .innerSidebar {

    nav {
      margin-bottom: 30px;
      padding: 30px 20px 0;

      ul {
        margin-bottom: 30px;

        li {
          color: #3291ad;
          font-size: 18px;

          a {
            color: inherit;
            width: inherit;
            height: inherit;
            display: block;
            cursor: pointer;
            font-size: 22px;
            font-weight: 600;
            padding: 4px 0;

            &.active {
              color: #003a18;
            }
          }

        }
      }
    }


  }

}
