
.title {
  padding: 0 0 50px 0;

  h3 {
    color: #156475;
  }

  .form {
    padding: 10px 0 0 0;
    max-width: 680px;

    .textareaMessage {
      outline: none;
      border: none;
      max-width: calc(100% - 28px);
      min-width: calc(100% - 28px);
      min-height: 140px;
      padding: 14px;
      height: 130px;
      font-size: 16px;
      margin-bottom: 14px;
      line-height: 18px;
      border-radius: 3px;
      transition: color .2s, box-shadow .1s, background .1s;
      color: #3f3f3f;
      background: #f8f8f8;
      box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.22);

      &:hover {
        background: #f6fbfb;
      }

      &:focus {
        background: #f6fbfb;
        box-shadow: -1px -1px 0 0 rgba(0, 0, 0, 0.22);
      }
    }

    .buttonSubmit {
      outline: none;
      border: none;
      padding: 8px;
      font-size: 14px;
      width: 100%;
      max-width: 100%;
      position: relative;
      cursor: pointer;
      border-radius: 3px;
      transition: color .2s, box-shadow .1s, background .1s;
      background: #f8f8f8;
      color: #516059;
      box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.22);
      font-weight: 700;



      &:hover {
        background: #f6fbfb;
      }

      &:active {
        box-shadow: -1px -1px 0 0 rgba(0, 0, 0, 0.22);
      }
    }
  }

}

.post {
  color: black;
}


.post {
  max-width: 644px;
  padding: 18px 20px 16px 20px;
  clear: right;
  display: grid;
  grid-template-columns: 2fr 14fr;
  background-color: #f6fbfb;
  border-radius: 10px;
  margin-bottom: 8px;

  .avatar {
    width: 50px;
    margin-right: 10px;
    border-radius: 30px
  }

  .text {
    color: black;
    font-size: 18px;

    .like {
      color: #2c88a9;
      margin: 10px 0 auto auto;
      display: table;
      font-size: 16px;
    }

    .count {
      color: #387b5f;
      margin: 0 0 0 10px;
    }

    .upLike {
      color: #868eb9;
      margin: 0 0 0 10px;
      border-radius: 5px;
      padding: 2px 10px;
      background-color: #ebfbfd;
      cursor: pointer;
      box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.22);

      &:hover {
        background-color: #feffff;
      }

      &:active {
        box-shadow: -1px -1px 0 0 rgba(0, 0, 0, 0.22);
      }
    }
  }

}
